/* Navbar color if nav-bar-light */
#navigation{
    
}

.navbar-nav {
    text-align: justify;
}
.container .row > div{
   
    padding: 20px;
    font-family: sans-serif;
}
/* Sets text to align evenly in nav*/
.navbar-nav {
    text-align: justify;
    min-width: 400px;
}

/* Add a background color on mouse-over */
.container-fluid .navbar-nav .nav-item .nav-link:hover {
    color:gold;

  }
/* spreads out nav links evenly*/
.navbar-nav li {
    width: 1000px; 
  }
/* Controls Navbar link colors */
nav .container-fluid .navbar-nav .nav-item .nav-link{
    color:black;
}

/* Controls Navbar link ACTIVE color */
nav .container-fluid .navbar-nav .active .nav-link{
    color:gold;
}

/* 


ABOUT ME


*/


/* Profile Picture */
.brodie-gabe{
    height:100%;
    width:100%;
}