/* Navbar color if nav-bar-light */
#navigation{
    background-color: black;
}
/* Adds border to navbar */
.container{
    border: 2px solid black;
}

.container-fluid{

}

.navbar-nav {
    text-align: justify;
}
.container .row > div{
    border:3px solid black;
    padding: 2px;
    font-family: cursive
}
/* Sets text to align evenly in nav*/
.navbar-nav {
    text-align: justify;
    min-width: 400px;
}

/* Add a background color on mouse-over */
.navbar-nav a:hover {
    background-color:teal;
  }
/* spreads out nav links evenly*/
.navbar-nav li {
    width: 800px; 
  }
/* Controls Navbar link colors */
nav .container .navbar-nav .nav-item .nav-link{
    color:white;
}

/* 


CALI IMAGE 


*/
.container .row .col-5 .cali-pizza{
    width:20%;
    height:50%;
}