
body{
    background-color:blACK;;
}

#about-page{
    display: flex;
    flex-wrap: wrap;
}

/*                          Nav Styling                             */

.navbar-nav {
    text-align: justify;
   
}
/* Equal width for nav elements */
.navbar-nav li {
    width: 400px; 
}
/* Controls Nav border */
/* Controls Navbar link colors */
.container-fluid .navbar-nav .nav-item .nav-link{
      color:white;;
}
/* Controls Navbar link colors WHEN HOVERING */
.container-fluid .navbar-nav .nav-item .nav-link:hover{
    color:gold;
}

/* Controls Navbar link ACTIVE color */
nav .container-fluid .navbar-nav .active .nav-link{
    color:gold;
}

/*                          Bio Body Page Styling                             */

.bio-text{
    color:gold;
}

.bio-heading{
    color:gold;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  .fa-instagram {
    background: black;
    color: gold;
}
  .fa-snapchat {
    background: black;
    color: gold;
}
  .fa-twitter {
    background: black;
    color: gold;
}
  .fa-linkedin {
    background: black;
    color: gold;
}
  .fa-github {
    background: black;
    color: gold;
}

.row .inside-row a:hover{
    color:white;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color:gold;
  }

.card{
    width:25rem;
    color:gold;
    background-color:black;
}

.card .cali > img{
    width:30rem;
    height:30rem;
}

.footer-copyright{
    color:gold;
}