/* Fits Background Image */
body { 
    background: url("/Users/gabriel/Downloads/Pittsburgh-city.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

/*                          Nav Styling                             */

/* Controls Nav border */
nav {
    border:solid black 2px;
}
/* Controls Navbar link colors */
.container-fluid .navbar-nav .nav-item .nav-link{
      color:black;
    
}

.navbar-nav {
    text-align: justify;
   
}
/* Equal width for nav elements */
.navbar-nav li {
    width: 400px; 
}

/* Controls Navbar link colors WHEN HOVERING */
.container-fluid .navbar-nav .nav-item .nav-link:hover{
    color:#1292EB;
}

/* Controls Navbar link ACTIVE color */
nav .container-fluid .navbar-nav .active .nav-link{
    color:#1292EB;
}

#Bio div{
    border:dotted red;
}